@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); 

/*html {font-family: "Open Sans", "Roboto", serif;font-size: 20px;} */

* {
  font-weight: bold;
  color: red;
  font-family: "Roboto", serif;font-size: 20px;
}
